apiVersion: v1
data:
  postgres_password: bXlzZWN1cmVwYXNz
  postgres_user: cG9zdGdyZXM=
  secret_key_base: NjNkM2JlYWJhM2UyMmNiMzk1YTFmNmQwZDRmMjA4YmEyMTRlYmQ2YTE5NjJlNDMwZWJmMTI2ZGZmODBjMjY0MGI4MmNjMmMxMWU4YzE3NmIwYjdiZmE0ZDFjZmYzNzZiMDU0MWZhMGYyOGIwZTc4ODI2ZmRkNjJlOGJiY2MzNjINCg==
kind: Secret
metadata:
  creationTimestamp: null
  name: app-secrets
type: Opaque
