<div id="app">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <%- if controller_name != 'sessions' %>
            <%= link_to t('.log_in'), new_session_path(resource_name) %>
          <% end -%>
        </li>
        <li>
          <%- if controller_name != 'registrations' %>
            <%= link_to t('.sign_up'), new_user_registration_path %>
          <% end -%>
        </li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</div>
home
