body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fcfcfc;
}

main {
  flex: 1 0 auto;
}

.main-logo {
  height: 3rem;
  margin-top: 0.5rem;
}

.cover {
  background-color: #fff;
}

.icon-container .icon-preview span {
  display: block;
  font-size: 12px;
  text-align: left;
}

.icon-container i {
  margin-bottom: 10px;
  font-size: 3em;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f5f2f0 none repeat scroll 0 0;
}


.toc {
  position: sticky;
  top: 4rem;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}

.twitter {
  background-color: #00aced;
  border-color: #00aced;
}
a.twitter:hover {
  background-color: #0099D1;
  border-color: #0099D1;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}
a.facebook:hover {
  background-color: #154096;
  border-color: #154096;
}

form.was-validated {
  .is-invalid {
    .form-control {
      border-color: #dc3545;
    }
  }
}

/*flash*/
.alert-error {
  color: #b94a48;
  text-align: left;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-alert {
  color: #b94a48;
  text-align: left;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-success {
  color: #468847;
  text-align: left;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-notice {
  color: #468847;
  text-align: left;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
