p= t('.hello', user: @resource.username)
p= t('.someone_request')
p= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token)
p= t('.if_you_dont')
p= t('.not_change')
