.login-form
  .card.hoverable
    .card-content
      span.card-title.center= title
      .divider
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs.row
          .input-field.col.s12.username.required.user_username
            i.material-icons.prefix person
            = f.label :username
            br/
            = f.text_field :username, autofocus: true
          .input-field.col.s12.password.required.user_password
            i.material-icons.prefix lock
            = f.label :password
            br/
            = f.password_field :password
        .form-actions.center
          i.btn.waves-effect.waves-input-wrapper style=""
            = f.submit t('.preview'), name: 'preview', class: 'waves-button-input'
      .card-action
        .devise-links
          = render "users/shared/links"
