.login-form
  .card.hoverable
    .card-content
      span.card-title.center= title
      .divider
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-inputs.row
          .input-field.col.s12.username.required.user_username
            i.material-icons.prefix person
            = f.text_field :username, readonly: true
          .input-field.col.s12.password.required.user_password
            i.material-icons.prefix lock
            = f.text_field :password, readonly: true, value: '************'
            = f.hidden_field :password
        .form-actions.center
          - if resource.auth_with_email?
            i.btn.waves-effect.waves-input-wrapper style=""
              = f.submit t('.send_confirmation_email'), name: 'auth_via_email', class: 'waves-button-input'
          - else
            i.btn.waves-effect.waves-input-wrapper style=""
              = f.submit t('.auth_via_email'), name: 'email_form', class: 'waves-button-input'
          br/
          i.btn.waves-effect.waves-input-wrapper style=""
            = f.submit t('.auth_via_twitter'), name: 'auth_via_twitter', class: 'waves-button-input'
          br/
          i.btn.waves-effect.waves-input-wrapper style=""
            = f.submit t('.auth_via_facebook'), name: 'auth_via_facebook', class: 'waves-button-input'
          br/
          i.btn.waves-effect.waves-input-wrapper style=""
            = f.submit t('.back'), name: 'form', class: 'waves-button-input'
      .card-action
        .devise-links
          = render "users/shared/links"
javascript:
  document.onkeypress = function(e){
      var ref=e.target;
      if(e.key === 'Enter' && (ref.type == 'text' || ref.type == 'radio' || ref.type == 'checkbox' || ref.type == 'password')){
          return false;
      }
  }
