section#login
  .container-fluid.pt-3
    .row
      .col.s4.offset-s4
        .brand-logo.mx-auto
          /! Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
        - if resource.errors.blank? && @registration_step == :preview
          = render partial: 'preview', locals: { title: t('.preview') }
        - elsif @registration_step == :email_form
          = render partial: 'email_form', locals: { title: t('.email_form') }
        - else
          = render partial: 'form', locals: { title: t('.sign_up') }
javascript:
  window.location.hash="#noback";
  window.onhashchange=function(){
      window.location.hash="#noback";
  }
